#title {
  background-color: #2c2e44;
  color: #fff;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 1.5;
}
h2 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  padding: 2%;
}
.container-fluid {
  padding: 3% 15%;
}

blockquote {
  font-style: italic;
}
#masonry {
  padding: 1% 10%;
  justify-content: center;
}

#input {
  padding: 2%;
}

#art {
  text-align: center;
}

.overflow {
  overflow-y: hidden;
  line-height: 1.15;
}
